LM/UNIDAD 1/EJERCICIOS/relacion4/relacion4-2.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="pedidos">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="pedido">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="cliente">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="nombre">
                                        <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:maxLength value="20"/>
                                        </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="email">
                                        <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:pattern value="[a-zA-Z0-9._%+-]+@example\.com"/>
                                        </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="telefono">
                                        <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:pattern value="\d{3}-\d{3}-\d{3}"/>
                                        </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="productos">
                            <xs:complexType>
                                <xs:sequence>
                        <xs:element name="producto" maxOccurs="unbounded" minOccurs="1">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="nombre">
                                        <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:maxLength value="20"/>
                                        </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="precio">
                                        <xs:simpleType>
                                        <xs:restriction base="xs:decimal">
                                            <xs:minInclusive value="0"/>
                                        </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="cantidad">
                                        <xs:simpleType>
                                        <xs:restriction base="xs:integer">
                                            <xs:minInclusive value="0"/>
                                            <xs:maxInclusive value="10"/>
                                        </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                          </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="estado">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="Pendiente"/>
                                    <xs:enumeration value="Enviado"/>
                                    <xs:enumeration value="Entregado"/>
                                    <xs:enumeration value="Cancelado"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="codigo" type="xs:positiveInteger" use="required"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:element>


</xs:schema>